.lilaoshi {
    font-size: small;
}

h1 {
    font-weight: 300;
}

.title {
    background: #E6D4AB;
    border-radius: 10px;
    /* 去下划线 */
    text-decoration: none;
    padding: 1px 10px 4px 10px;
    margin-bottom: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    padding-top: 15px;
    margin: 200px 20px 200px 20px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("https://openai-75050.gzc.vod.tencent-cloud.com/openaiassets_4b660b576ef6bf5987cbe4f26d886c43_2579861724505609249.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.all {
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1em;
    /*  圆角 */
    padding: 8px 3px 8px 10px;
    margin: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    background-color: white;
    color: #84898F;
    border-radius: 10px 10px 0px 0px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.dibua {
    color: #84898F;
}

.preview {
    line-height: 25px
}

.articleList {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    border-radius: 10px 10px 0px 0px;
    background-color: #f7f8fa;
    ;
}